{% extends 'movie_app/base.html' %}

{% block title %} Все фильмы {% endblock %}

{% block content %}
    <h2>Список всех фильмов</h2>
        <ul>
            {% for movie in movies_key %}
                <li><a href="{{ movie.get_url }}">{{ movie.name }}.</a>
                    Фильм - {{ movie.name }},
                    рейтинг - {{movie.rating}},
                    год - {{movie.year|default:"неизвестно"}},
                    бюджет - {{movie.budget}}$</li>
            {% endfor %}
        </ul>

    <h3>Средний бюджет - {{ agg_key.budget__avg }}</h3>
    <h3>Максимальный рейтинг - {{ agg_key.rating__max }}</h3>
    <h3>Минимальный рейтинг - {{ agg_key.rating__min }}</h3>
    <h3>Всего фильмов - {{ agg_key.id__count }}</h3>
{% endblock %}
